<div class = "jumbotron center">
	<h1>It's YAMA time.</h1>
	<h4>Share your favorite moment in the mountains</h4>
		<p>
		  <%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %> 
		  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
		</p>
</div>